<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="inner">
        <h3>Personagens</h3>
        <div class="input-group mb-4">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="name"
            placeholder="Buscar por Nome"
          />
          <span>&nbsp;&nbsp; </span>
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="loadPersonagensPorNome()"
          >
            Buscar
          </button>
        </div>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Status</th>
              <th scope="col" *ngIf="!rowhidden">URL</th>
              <th scope="col" *ngIf="!rowhidden">Criação</th>
              <th scope="col" *ngIf="!rowhidden">Episódios</th>
              <th scope="col">Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let personagem of PersonagensList">
              <th scope="row">{{ personagem.id }}</th>
              <td>{{ personagem.name }}</td>
              <td>{{ personagem.status }}</td>
              <td *ngIf="!rowhidden">{{ personagem.url }}</td>
              <td *ngIf="!rowhidden">{{ personagem.created }}</td>
              <div *ngIf="!rowhidden">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Air date</th>
                  <th scope="col">Episode</th>
                  <th scope="col">URL</th>
                  <th scope="col">Created</th>
                </tr>
                <tr *ngFor="let episode of personagem.episodes">
                  <td>{{ episode.id }}</td>
                  <td>{{ episode.name }}</td>
                  <td>{{ episode.air_date }}</td>
                  <td>{{ episode.episode }}</td>
                  <td>{{ episode.url }}</td>
                  <td>{{ episode.created }}</td>
                </tr>
              </div>
              <td>
                <button
                  type="button"
                  class="btn btn-success btn-sm move-right"
                  (click)="rowhidden = !rowhidden"
                >
                  +
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
